#author-container{
  display: flex;

}
.a-class{
  height: 33rem;
  width: 40rem;
  margin: 0 4%;
  padding: 1%;
}

#author-container div:nth-child(even){
  background: lightyellow;
}
#author-container div:nth-child(odd){
  background: lightblue;
}
#biosect{
  height: 30%;
}

img{
margin: 8% 0;
height: 16rem;
width: 15rem;
}
.selected{
  border: 5px dotted pink;
}
#txt-input{
  width: 20%;
  height: 2rem;
  margin: 2% 40%;
}